@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

@import "tailwindcss";

/* * {
    border: 1px solid red;
} */

.font-nusantara {
    font-family: 'Philosopher', serif;
}

.font-sans {
    font-family: 'Inter', sans-serif;
}

.perspective-1000 {
    perspective: 1000px;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.animate-shine {
    animation: shine 1s;
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 10s linear infinite;
}